@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #333;
	flex-direction: column;
}
ul
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
ul li
{
	list-style: none;
}
ul li a
{
	position: relative;
	font-size: 2em;
	color: #fff;
	text-decoration: none;
	margin: 10px 0;
	display: inline-block;
}
#marker
{
	position: absolute;
	top: 0;
	margin-top: -5px;
	width: 170px;
	height: 50px;
	transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#marker::before
{
	content: '';
	width: 15px;
	height: 15px;
	border-right: 4px solid #30a3ff;
	border-top: 4px solid #30a3ff;
	transform: rotate(45deg) translate(-20px,20px);
}
#marker::after
{
	content: '';
	width: 15px;
	height: 15px;
	border-right: 4px solid #30a3ff;
	border-top: 4px solid #30a3ff;
	transform: rotate(225deg) translate(-20px,20px);
}
#Button
{
	position: relative;
	background: #444;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	padding: 10px 30px;
	transition: 0.5s;
}
#Button:hover
{
	letter-spacing: 0.25em;
	background: var(--clr);
	color: var(--clr);
	box-shadow: 0 0 35px var(--clr);
}
#Button::before
{
	content: '';
	position: absolute;
	inset: 2px;
	background: #27282c;
}
#Button span
{
	position: relative;
	z-index: 1;
}
#Button i
{
	position: absolute;
	inset: 0;
	display: block;
}
#Button i::before
{
	content: '';
	position: absolute;
	top: -3.5px;
	left: 80%;
	width: 10px;
	height: 5px;
	border: 2px solid var(--clr);
	background: #27282c;
	transform: translateX(-50%);
	transition: 0.5s;
}
#Button:hover i::before
{
	width: 20px;
	left: 20%;
}
#Button i::after
{
	content: '';
	position: absolute;
	bottom: -3.5px;
	left: 20%;
	width: 10px;
	height: 5px;
	border: 2px solid var(--clr);
	background: #27282c;
	transition: 0.5s;
}
#Button:hover i::after
{
	width: 20px;
	left: 80%;
}